.content
	.wrapper
		h1
			margin: 80px 0
			color: $lightblue
			font-size: 36px
			font-weight: 700
			text-align: center

		.form
			display: flex
			justify-content: space-between
			align-items: center
			box-sizing: border-box
			padding: 18px
			width: 100%
			height: 86px
			background-color: #fff
			border: 1px solid rgba(214, 214, 214, 0.2)
			box-shadow: 0 0 7px rgba(0, 48, 40, 0.05)

			.form__search
				box-sizing: border-box
				margin-right: 18px
				width: 100%
				height: 100%
				color: #292929
				font-weight: 500
				border: none
				outline: none
			
			.form__btns
				display: flex
				align-items: center
				height: 100%

				.form__select
					display: flex
					justify-content: center
					align-items: center
					box-sizing: border-box
					padding: 18px
					white-space: nowrap
					margin-right: 18px
					height: 100%
					color: $lightgray
					font-size: 15px
					background-color: $verylightgray
					cursor: pointer
					&:hover
						background-color: $highlightgray

					img
						margin-left: 18px

				.form__play
					display: flex
					justify-content: center
					align-items: center
					width: 60px
					height: 100%
					background-color: $green
					cursor: pointer
					&:hover
						background-color: $darkgreen

					img
						width: 16px
						height: 25px

		.form-addon-tabs
			display: flex
			align-items: center
			padding: 20px

			.form-addon-tabs__tab
				color: $lightgray
				font-size: 18px
				font-weight: 500
				font-style: italic
				cursor: pointer
				&--active,
				&:hover
					color: $darkblue

			.form-addon-tabs__divider
				margin: 0 18px
				width: 2px
				height: 12px
				background-color: #bcc3c9

		.form-addon
			position: relative
			display: flex
			width: 100%
			height: auto
			box-sizing: border-box
			font-size: 15px
			color: $lightgray
			background-color: $verylightgray
			border: 1px solid rgba(214, 214, 214, 0.2)
			box-shadow: 0 0 7px rgba(0, 48, 40, 0.05)
			&::after
				position: absolute
				top: -3px
				left: 0
				width: 100%
				height: 3px
				background-color: #bcc3c9
				content: ''
			&::before
				position: absolute
				top: -13px
				left: 245px
				width: 0
				height: 0
				border-right: 10px solid transparent
				border-bottom: 10px solid #bcc3c9
				border-left: 10px solid transparent
				content: ''

			.form-addon__words
				// display: flex
				display: none
				padding: 20px
				box-sizing: border-box
				justify-content: space-between
				width: 100%
				height: 67px

				.form-addon__radio-wrapper
					display: flex
					align-items: center
					height: 100%

					.form-addon__radio
						position: relative
						display: flex
						align-items: center
						height: 17px
						&:last-child
							margin-left: 31px
						&:hover
							.form-addon__check::before
								opacity: 0.5

						input
							position: absolute
							visibility: hidden
				
						label
							display: block
							position: relative
							z-index: 9
							padding-left: 28px
							cursor: pointer
						
						input:checked ~ .form-addon__check::before
							opacity: 1
				
						.form-addon__check
							position: absolute
							display: block
							top: 0
							left: 0
							z-index: 5
							width: 17px
							height: 17px
							border-radius: 50%
							background-color: #dde3e7
							box-shadow: inset 0 1px 0 #bcc3c9

						.form-addon__check::before 
							display: block
							position: absolute
							margin: auto
							top: 3px
							left: 3px
							border-radius: 50%
							width: 11px
							height: 11px
							background-color: $green
							box-shadow: inset 0 -1px 0 #4ba051
							opacity: 0
							content: ''

				.form-addon__checkbox-wrapper
					display: flex
					align-items: center
					height: 100%

					.form-addon__checkbox
						position: relative
						display: flex
						align-items: center
						height: 21px
						&:not(:first-child)
							margin-left: 40px
						&:hover
							.form-addon__check::before
								opacity: 0.5

						input
							position: absolute
							visibility: hidden
				
						label
							display: block
							position: relative
							z-index: 9
							padding-left: 32px
							cursor: pointer
						
						input:checked ~ .form-addon__check::before
							opacity: 1

						.form-addon__check
							position: absolute
							display: block
							top: 0
							left: 0
							z-index: 5
							width: 21px
							height: 21px
							background-color: #dde3e7
							box-shadow: inset 0 1px 0 #bcc3c9

						.form-addon__check::before 
							display: flex
							justify-content: center
							align-items: center
							position: absolute
							margin: auto
							top: 3px
							left: 3px
							width: 15px
							height: 15px
							background-color: $green
							box-shadow: inset 0 -1px 0 #4ba051
							opacity: 0
							content: url("../img/ico/check.png")

			.form-addon__filter
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				padding: 20px
				box-sizing: border-box
				width: 100%
				height: 100%

				.form-addon__col
					display: flex
					flex-direction: column
					&:nth-child(2)
						flex: 1
						margin: 0 20px
					&:nth-child(3)
						flex: 1
					&:nth-child(4)
						margin-top: 20px
						width: 100%
						align-items: flex-end

					.form-addon__header
						margin-bottom: 17px
						color: $lightgray
						font-size: 15px

					select
						width: 79px
						height: 36px
						padding: 0 10px
						background-color: #dde3e7
						box-shadow: inset 0 1px 0 #bcc3c9
						color: $lightgray
						border: none
						outline: none
						background-image: url("../img/ico/btn-right.svg")
						background-repeat: no-repeat
						background-position: 90% 50%
						cursor: pointer
						-webkit-appearance: none
						-moz-appearance: none
						appearance: none
						&::-ms-expand
							display: none
							visibility: hidden

					textarea
						padding: 10px
						box-sizing: border-box
						background-color: #dde3e7
						box-shadow: inset 0 1px 0 #bcc3c9
						border: none
						outline: none
						width: 100%
						height: 72px
						resize: vertical

					.form-addon__save
						width: 120px
						height: 35px
						line-height: 35px
						background-color: $lightblue
						text-align: center
						color: #fff
						font-size: 15px
						font-weight: 500
						cursor: pointer
						&:hover
							background-color: $darkblue