.content
	.wrapper
		h1
			margin: 80px 0
			color: $lightblue
			font-size: 36px
			font-weight: 700
			text-align: center
			@media #{$mobile}
				margin: 80px 20px

		.form
			display: flex
			justify-content: space-between
			align-items: center
			box-sizing: border-box
			padding: 18px
			width: 100%
			height: 86px
			background-color: #fff
			border: 1px solid rgba(214, 214, 214, 0.2)
			box-shadow: 0 0 7px rgba(0, 48, 40, 0.05)
			@media #{$mobile}
				flex-direction: column
				height: auto

			.form__search
				box-sizing: border-box
				margin-right: 18px
				width: 100%
				height: 48px
				color: #292929
				font-weight: 500
				border: none
				outline: none
				@media #{$mobile}
					margin-right: 0
					margin-bottom: 10px
					padding: 0 18px
					border: 1px solid #ebf0f4
			
			.form__btns
				display: flex
				align-items: center
				height: 48px
				@media #{$mobile}
					flex-direction: column
					width: 100%
					height: auto

				.form__select
					display: flex
					justify-content: center
					align-items: center
					box-sizing: border-box
					padding: 18px
					white-space: nowrap
					margin-right: 18px
					height: 48px
					color: $lightgray
					font-size: 15px
					background-color: $verylightgray
					cursor: pointer
					&:hover
						background-color: $highlightgray
					@media #{$mobile}
						justify-content: space-between
						margin-right: 0
						margin-bottom: 10px
						width: 100%

					img
						margin-left: 18px

				.form__play
					display: flex
					justify-content: center
					align-items: center
					width: 60px
					height: 48px
					background-color: $green
					cursor: pointer
					&:hover
						background-color: $darkgreen
					@media #{$mobile}
						width: 100%

					img
						width: 16px
						height: 25px

		.form-addon-tabs
			display: flex
			align-items: center
			padding: 20px

			.form-addon-tabs__tab
				color: $lightgray
				font-size: 18px
				font-weight: 500
				font-style: italic
				cursor: pointer
				&--active,
				&:hover
					color: $darkblue

			.form-addon-tabs__divider
				margin: 0 18px
				width: 2px
				height: 12px
				background-color: #bcc3c9

		.form-addon
			position: relative
			display: flex
			width: 100%
			height: auto
			box-sizing: border-box
			font-size: 15px
			color: $lightgray
			background-color: $verylightgray
			border: 1px solid rgba(214, 214, 214, 0.2)
			box-shadow: 0 0 7px rgba(0, 48, 40, 0.05)
			&::after
				position: absolute
				top: -3px
				left: 0
				width: 100%
				height: 3px
				background-color: #bcc3c9
				content: ''
			&::before
				position: absolute
				top: -13px
				left: 245px
				width: 0
				height: 0
				border-right: 10px solid transparent
				border-bottom: 10px solid #bcc3c9
				border-left: 10px solid transparent
				content: ''
			@media #{$mobile}
				&::before
					display: none

			.form-addon__words
				display: flex
				// display: none
				padding: 20px
				box-sizing: border-box
				justify-content: space-between
				width: 100%
				height: 67px
				@media #{$mobile}
					flex-direction: column
					height: auto

				.form-addon__radio-wrapper
					display: flex
					align-items: center
					height: 100%
					@media #{$mobile}
						height: auto

					.form-addon__radio
						position: relative
						display: flex
						align-items: center
						height: 17px
						&:last-child
							margin-left: 31px
						&:hover
							.form-addon__check::before
								opacity: 0.5

						input
							position: absolute
							visibility: hidden
				
						label
							display: block
							position: relative
							z-index: 9
							padding-left: 28px
							cursor: pointer
						
						input:checked ~ .form-addon__check::before
							opacity: 1
				
						.form-addon__check
							position: absolute
							display: block
							top: 0
							left: 0
							z-index: 5
							width: 17px
							height: 17px
							border-radius: 50%
							background-color: #dde3e7
							box-shadow: inset 0 1px 0 #bcc3c9

						.form-addon__check::before 
							display: block
							position: absolute
							margin: auto
							top: 3px
							left: 3px
							border-radius: 50%
							width: 11px
							height: 11px
							background-color: $green
							box-shadow: inset 0 -1px 0 #4ba051
							opacity: 0
							content: ''

				.form-addon__checkbox-wrapper
					display: flex
					align-items: center
					height: 100%
					@media #{$mobile}
						flex-direction: column
						margin-top: 20px

					.form-addon__checkbox
						position: relative
						display: flex
						margin-left: 40px
						align-items: center
						height: 21px
						&:hover
							.form-addon__check::before
								opacity: 0.5
						@media #{$mobile}
							margin-top: 5px
							margin-left: 0
							width: 100%

						input
							position: absolute
							visibility: hidden
				
						label
							display: block
							position: relative
							z-index: 9
							padding-left: 32px
							cursor: pointer
							@media #{$mobile}
								width: 100%
						
						input:checked ~ .form-addon__check::before
							opacity: 1

						.form-addon__check
							position: absolute
							display: block
							top: 0
							left: 0
							z-index: 5
							width: 21px
							height: 21px
							background-color: #dde3e7
							box-shadow: inset 0 1px 0 #bcc3c9

						.form-addon__check::before 
							display: flex
							justify-content: center
							align-items: center
							position: absolute
							margin: auto
							top: 3px
							left: 3px
							width: 15px
							height: 15px
							background-color: $green
							box-shadow: inset 0 -1px 0 #4ba051
							opacity: 0
							content: url("../img/ico/check.png")

			.form-addon__filter
				// display: flex
				display: none
				justify-content: space-between
				flex-wrap: wrap
				padding: 20px
				box-sizing: border-box
				width: 100%
				height: 100%
				@media #{$mobile}
					flex-direction: column

				.form-addon__col
					display: flex
					flex-direction: column
					&:nth-child(2)
						flex: 1
						margin: 0 20px
					&:nth-child(3)
						flex: 1
					&:nth-child(4)
						margin-top: 20px
						width: 100%
						align-items: flex-end
					@media #{$mobile}
						&:nth-child(2)
							flex: 1
							margin: 20px 0
						&:nth-child(3)
							flex: 1
						&:nth-child(4)
							margin-top: 20px
							width: 100%
							align-items: flex-end

					.form-addon__header
						margin-bottom: 17px
						color: $lightgray
						font-size: 15px

					select
						width: 79px
						height: 36px
						padding: 0 10px
						background-color: #dde3e7
						box-shadow: inset 0 1px 0 #bcc3c9
						color: $lightgray
						border: none
						outline: none
						background-image: url("../img/ico/btn-right.svg")
						background-repeat: no-repeat
						background-position: 90% 50%
						cursor: pointer
						-webkit-appearance: none
						-moz-appearance: none
						appearance: none
						&::-ms-expand
							display: none
							visibility: hidden

					textarea
						padding: 10px
						box-sizing: border-box
						background-color: #dde3e7
						box-shadow: inset 0 1px 0 #bcc3c9
						border: none
						outline: none
						width: 100%
						height: 72px
						resize: vertical

					.form-addon__save
						width: 120px
						height: 35px
						line-height: 35px
						background-color: $lightblue
						text-align: center
						color: #fff
						font-size: 15px
						font-weight: 500
						cursor: pointer
						&:hover
							background-color: $darkblue

		.export-wrapper
			display: flex
			justify-content: flex-end
			box-sizing: border-box
			margin: 20px 0
			width: 100%
			@media #{$mobile}
				padding: 0 20px

			.export-btn
				display: flex
				justify-content: center
				align-items: center
				width: 138px
				height: 35px
				color: #fff
				font-size: 15px
				font-weight: 500
				background-color: $lightblue
				cursor: pointer
				&:hover
					background-color: $darkblue

		.result-wrapper
			display: flex
			width: 100%
			@media #{$mobile}
				flex-direction: column

			.categories
				width: 300px
				height: 100%
				background-color: $verylightgray
				box-shadow: 0 0 7px rgba(0, 48, 40, 0.05)
				@media #{$mobile}
					width: 100%

				.categories__header
					display: flex
					align-items: center
					padding: 0 20px
					box-sizing: border-box
					width: 100%
					height: 46px
					background-color: #ebf0f4
					box-shadow: inset 0 -1px 0 #e3e8ec
					color: #303d80
					font-size: 14px
					font-weight: 500

				.categories__item
					position: relative
					display: flex
					justify-content: space-between
					align-items: center
					padding: 0 20px
					height: 52px
					border-bottom: 1px solid #ebf0f4
					font-size: 14px
					&:hover
						background-color: #fff
						.categories__check::before
							opacity: 0.5

					input
						position: absolute
						visibility: hidden
			
					label
						position: relative
						z-index: 9
						display: flex
						align-items: center
						width: 100%
						height: 100%
						color: #bcc0c2
						cursor: pointer

						span
							margin-left: 3px
							color: #bcc0c2
					
					input:checked ~ .categories__check::before
						opacity: 1

					input:checked ~ label
						color: #7c7f80

						span
							color: #a9acae

					.categories__check
						position: absolute
						display: block
						top: 50%
						right: 20px
						z-index: 5
						transform: translate(0, -50%)
						width: 21px
						height: 21px
						background-color: #dde3e7
						box-shadow: inset 0 1px 0 #bcc3c9

					.categories__check::before 
						display: flex
						justify-content: center
						align-items: center
						position: absolute
						margin: auto
						top: 3px
						left: 3px
						width: 15px
						height: 15px
						background-color: $green
						box-shadow: inset 0 -1px 0 #4ba051
						opacity: 0
						content: url("../img/ico/check.png")
			
			.table-wrapper
				position: relative
				margin-left: 20px
				width: 100%
				@media #{$mobile}
					margin-top: 20px
					margin-left: 0

				.hint
					position: absolute
					top: 7px
					right: 7px
					z-index: 1
					display: flex
					// display: none
					align-items: center
					flex-direction: column
					text-align: center
					padding: 40px
					box-sizing: border-box
					width: calc(100% - 14px)
					height: auto
					color: #fff
					font-weight: 400
					line-height: 30px
					background-color: #6980af
					border: 2px solid #fff
					box-shadow: 0 0 0 7px #6980af
					&::before
						position: absolute
						top: 50%
						left: -44px
						width: 0
						height: 0
						border-top: 35px solid transparent
						border-right: 35px solid #6980af
						border-bottom: 35px solid transparent
						transform: translate(0, -50%)
						content: ''
					@media #{$mobile}
						font-size: 14px
						&::before
							display: none

					.hint__header
						margin-bottom: 40px
						color: #aac4f8
						font-size: 24px
						font-weight: 700
						text-transform: uppercase

					.hint__btn
						display: flex
						justify-content: center
						align-items: center
						margin: 40px 0
						width: 130px
						height: 35px
						background-color: $green
						box-shadow: 0 1px 2px rgba(0, 1, 3, 0.3)
						color: #fff
						font-size: 15px
						font-weight: 500
						cursor: pointer
						&:hover
							background-color: $darkgreen

					.hint__checkbox
						position: relative
						display: flex
						align-items: center
						height: 21px
						&:hover
							.hint__check::before
								opacity: 0.5

						input
							position: absolute
							visibility: hidden
				
						label
							display: block
							position: relative
							z-index: 9
							padding-left: 32px
							cursor: pointer
						
						input:checked ~ .hint__check::before
							opacity: 1

						.hint__check
							position: absolute
							display: block
							top: 0
							left: 0
							z-index: 5
							width: 21px
							height: 21px
							background-color: #4d6493
							box-shadow: inset 0 1px 0 #43567d

						.hint__check::before 
							display: flex
							justify-content: center
							align-items: center
							position: absolute
							margin: auto
							top: 3px
							left: 3px
							width: 15px
							height: 15px
							background-color: $green
							box-shadow: inset 0 -1px 0 #4ba051
							opacity: 0
							content: url("../img/ico/check.png")

				.result
					display: table
					width: 100%
					@media #{$mobile}
						display: block

					.result__header,
					.result__row
						display: table-row
						box-sizing: border-box
						border-right: 1px solid #ebf0f4
						&:last-child
							border: none

					.result__header
						height: 46px
						background-color: $verylightgray
						box-shadow: inset 0 -1px 0 #ebf0f4
						color: #303d80
						font-size: 14px
						font-weight: 500
						@media #{$mobile}
							display: none

						.result__cell
							.result__switch
								display: inline-block
								margin-right: 3px
								vertical-align: middle

								.result__up
									display: block
									margin-bottom: 6px
									cursor: pointer
									&:hover
										opacity: 0.8

								.result__down
									display: block
									margin-top: 6px
									cursor: pointer
									&:hover
										opacity: 0.8

					.result__row
						position: relative
						background-color: #fff
						cursor: pointer
						&--selected
							.result__cell
								color: #7c7f80 !important
						@media #{$mobile}
							&--selected
								.result__cell
									background-color: $verylightgray
						&:hover
							background-color: $verylightgray
							.result__check::before
								opacity: 0.5
						@media #{$mobile}
							display: block
							border-bottom: 1px solid #e3e8ec

						.result__cell
							color: #bcc0c2
							font-size: 14px
							height: 53px

					.result__cell
						position: relative
						display: table-cell
						padding: 0 20px
						box-sizing: border-box
						vertical-align: middle
						@media #{$mobile}
							display: flex
							align-items: center
							padding-left: 50%
							&::before
								position: absolute
								left: 0
								top: 0
								display: flex
								align-items: center
								padding: 0 20px
								box-sizing: border-box
								width: 50%
								height: 100%
								font-weight: 500
								content: ''
							&:nth-of-type(1)::before
								content: 'Keyword'
							&:nth-of-type(2)::before
								content: 'Kparser rank'
							&:nth-of-type(3)::before
								content: 'Volume'
							&:nth-of-type(4)::before
								content: 'CPC (USD)'

						input
							position: absolute
							visibility: hidden
						
						input:checked ~ .result__check::before
							opacity: 1

						input:checked ~ label
							color: #7c7f80

						.result__check
							position: relative
							display: inline-block
							width: 21px
							height: 21px
							background-color: #dde3e7
							box-shadow: inset 0 1px 0 #bcc3c9

						.result__check::before 
							display: flex
							justify-content: center
							align-items: center
							position: absolute
							margin: auto
							top: 3px
							left: 3px
							width: 15px
							height: 15px
							background-color: $green
							box-shadow: inset 0 -1px 0 #4ba051
							opacity: 0
							content: url("../img/ico/check.png")

				.pagination
					display: flex
					justify-content: space-between
					align-items: center
					box-sizing: border-box
					margin-top: 15px
					width: 100%
					@media #{$mobile}
						padding: 0 20px
					@media #{$micro}
						flex-direction: column

					.pagination__per-page
						color: #939597
						font-size: 14px

						span
							font-weight: 700

					.pagination__switcher
						display: flex
						align-items: center
						@media #{$micro}
							margin-top: 10px

						.pagination__left,
						.pagination__right
							display: flex
							justify-content: center
							align-items: center
							width: 22px
							height: 21px
							background-color: #bcc3c9
							cursor: pointer
							&:hover
								opacity: 0.8

						.pagination__page,
						.pagination__divider
							font-size: 16px
							color: #8f9293
							font-weight: 500

						.pagination__page
							margin: 0 10px
							cursor: pointer
							&--active
								color: #5f84cf
								font-weight: 700
							&:hover
								opacity: 0.8

			.filter
				position: relative
				display: inline-block
				margin-left: 3px
				width: 17px
				height: 17px
				line-height: 17px
				background-color: #bcc3c9
				border-radius: 50%
				text-align: center
				cursor: pointer
				&:hover
					background-color: #6980af
					&::before
						position: absolute
						top: 0
						right: -11px
						width: 700%
						height: 40px
						color: red
						content: ''
					.filter__expand
						display: flex

				.filter__expand
					position: absolute
					z-index: 10
					top: 30px
					right: -11px
					display: none
					flex-direction: column
					box-sizing: border-box
					padding: 20px
					width: 200px
					height: auto
					background-color: #6980af
					color: #fff
					&--categories
						right: auto
						left: -11px
						&::before
							right: auto
							left: 10px
					&::before
						position: absolute
						top: -5px
						right: 10px
						width: 0
						height: 0
						border-left: 10px solid transparent
						border-right: 10px solid transparent
						border-bottom: 10px solid #6980af
						transform: translate(0, -50%)
						content: ''

					.filter__header
						color: #fff
						font-size: 15px
						font-weight: 700
						text-align: left

					input
						position: static !important
						visibility: visible !important
						box-sizing: border-box
						border: 1px solid #fff
						outline: none
						color: #fff
						background-color: transparent

					.filter__search-wrapper
						display: flex
						margin-top: 15px

						input
							width: 90%
							height: 20px
							border-right: none

					.filter__inputs-wrapper
						display: flex
						flex-wrap: wrap
						margin: 15px 0

						label
							width: 30%
							color: #fff
							margin: 5px 0
							text-align: left

						input
							margin: 5px 0
							width: 70%

					.filter__btn
						position: relative
						align-self: flex-end
						display: flex
						justify-content: center
						align-items: center
						width: 70px
						height: 25px
						background-color: $green
						box-shadow: 0 1px 2px rgba(0, 1, 3, 0.3)
						color: #fff
						font-size: 14px
						font-weight: 500
						&--search
							width: 38px
							height: 20px
						&:hover
							background-color: $darkgreen