<div class="content">
	<div class="wrapper">
		<h1>Professional keyword suggestion tool</h1>
		<div class="form">
			<input type="text" class="form__search" placeholder="Enter one or more keywords, separated commas">
			<div class="form__btns">
				<div class="form__select">
					Search provider
					<img src="img/ico/arrow-right.svg" alt="right">
				</div>
				<div class="form__select">
					USA(Eng)
					<img src="img/ico/arrow-right.svg" alt="right">
				</div>
				<div class="form__play">
					<img src="img/ico/play.svg" alt="play">
				</div>
			</div>
		</div>
		<div class="form-addon">
			<div class="form-addon__radio-wrapper">
				<div class="form-addon__radio">
					<input type="radio" id="radio-before" name="form-addon__radio" checked>
					<label for="radio-before">Before</label>
					<div class="form-addon__check">
						<div class="form-addon__inside"></div>
					</div>
				</div>
				<div class="form-addon__radio">
					<input type="radio" id="radio-after" name="form-addon__radio">
					<label for="radio-after">After</label>
					<div class="form-addon__check">
						<div class="form-addon__inside"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>